<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>
    <h2>Explore our categories</h2>

    <% if (user && user.role_name === 'admin') { %>
        <a href="/new-category">Add New Category</a>
    <% } %>

    <ul>
        <% categories.forEach(category => { %>
            <li>
                <a href="/category/<%= category.category_id %>">
                    <%= category.name %>
                </a>

                <% if (user && user.role_name === 'admin') { %>
                    <a href="/edit-category/<%= category.category_id %>">
                        Edit Category
                    </a>
                <% } %>
            </li>
        <% }) %>
    </ul>
</main>

<%- include('partials/footer') %>