<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>

    <ul>
        <% projects.forEach(project => { %>
            <li>
                <a href="/project/<%= project.project_id %>">
                    <strong><%= project.title %></strong>
                </a>

                -
                
                <a href="/organization/<%= project.organization_id %>">
                    <%= project.organization_name %>
                </a>

                <br>

                <%= new Date(project.date).toLocaleDateString('en-US', {
                    year: 'numeric',
                    month: 'long',
                    day: 'numeric'
                }) %>

                <% if (user && user.role_name === 'admin') { %>
                    <a href="/new-project">Add New Project</a>
                <% } %>
            </li>
        <% }) %>
    </ul>
</main>

<%- include('partials/footer') %>